<div class="container">
    <mat-toolbar>
        <span>Edit Contact</span>
    </mat-toolbar>
    <form class="card-container">
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="header-fullname-img"></div>
                <mat-form-field class="expand">
                    <mat-label>Fullname</mat-label>
                    <input value="Noelle Maguiver" matInput autocomplete="off" >
                </mat-form-field>
            </mat-card-header>
            <mat-card-header>
                    <div mat-card-avatar class="header-phonenumber-img"></div>
                    <mat-form-field class="expand">
                        <mat-label>Phone Number</mat-label>
                        <input value="321654895" matInput autocomplete="off" >
                    </mat-form-field>
            </mat-card-header>
            <mat-card-header>
                <div mat-card-avatar class="header-emailaddress-img"></div>
                <mat-form-field class="expand">
                    <mat-label>Email Address</mat-label>
                    <input value="another@email.com" matInput autocomplete="off" >
                </mat-form-field>
            </mat-card-header>
            <mat-card-actions align="start">
                <button mat-raised-button routerLink="/dashboard/people">Back</button>
                <button type="submit" mat-raised-button color="primary" routerLink="/dashboard/people">Update</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>