<!-- <mat-progress-bar *ngIf="loading ? person$" color="accent" mode="indeterminate"></mat-progress-bar> -->

<div class="container">
    <mat-toolbar>
        <span>Person Details</span>
    </mat-toolbar>
    <div *ngIf="person$ | async as person" class="card-container">
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="header-fullname-img"></div>
                <mat-card-title>{{ person.name }}</mat-card-title>
                <mat-card-subtitle>Fullname</mat-card-subtitle>
            </mat-card-header>
            <mat-card-header>
                    <div mat-card-avatar class="header-phonenumber-img"></div>
                    <mat-card-title>{{ person.phoneNumber }}</mat-card-title>
                    <mat-card-subtitle>Phone Number</mat-card-subtitle>
            </mat-card-header>
            <mat-card-header>
                <div mat-card-avatar class="header-emailaddress-img"></div>
                <mat-card-title>{{ person.emailAddress }}</mat-card-title>
                <mat-card-subtitle>Email Address</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions align="start">
                <button mat-raised-button routerLink="/dashboard/people" >Back</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>